* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}





.memorycard-board {
    border: 3px solid orange;
    position: relative;
    padding-left: 5px; 
    padding-right: 5px;
    height: 1360px;
    background-color: rgb(97, 85, 85); 
}

.btnClick {
    height: 30px;
    width: 60px; 
    background-color: salmon;
    color: black;   
}

.btnClick2 {
    height: 30px;
    width: 70px; 
    background-color: salmon;
    color: black;
}

#container1 {
    height: 55px;
    width: 150px; 
    border: 3px dotted darkred;
    position: relative;
    padding: 5px;
    padding-top: 10px;  
    margin-top: -55px;
    margin-left: 455px;
    background: gold; 
}

#container2 {
    height: 55px;
    width: 150px; 
    border: 3px dotted darkred;
    position: relative;
    text-align: center;
    padding-top: 8px;
    font-size: 30px; 
    margin-top: -55px;
    margin-left: 290px;
    background: gold; 
}

#container3 {
    height: 55px;
    width: 252px; 
    border: 3px dotted darkred;
    position: relative;
    text-align: center;
    padding: 2px; 
    margin-top: 0px;
    margin-left: 0px;
    background: gold; 
}

#container4 {
    height: 70px;
    width: auto; 
    border: 3px solid red;
    position: relative;
    text-align: center;
    margin-top:5px;
    padding: 4px; 
    background: white; 
}

body {
    height: 100vh;
    display: flex; 
    background: rgb(0, 0, 255); 
}

.memory-game {
    width: 640px;
    height: 640px;
    display: flex; 
    margin: auto; 
    flex-wrap: wrap; 
    perspective: 1000px; 
}

.memory-card {
    width: calc(25% - 10px); 
    height: calc(33.333% - 10px); 
    margin: 5px; 
    position: relative; 
    transform: scale(1); 
    border: 2px dotted aqua;
    transform-style: preserve-3d;
    transition: transform .5s; 
}

.memory-card:active {    /*This is a pseudo class of memory card, basically once an event happens to it, such as
                           an onclick event, it gains these attributes set forth. */
    transform: scale(.97);
    transition: transform .2s; 
}

.memory-card.flip {
    transform: rotateY(180deg); 
}

/*.front-face {
    width: 100%;
    height: 100%;
    padding: 20px; 
    position: absolute;
    border: 2px solid deeppink; 
}
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px; 
    position: absolute;
    border: 2px solid deeppink; 
}

img {
    height: 70%;
    width: 70%;
}*/

.front-face, /*Remember to concatenate classes in CSS, you must use a comma.*/
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px; 
    position: absolute;
    border-radius: 5px;
    background: #1c7ccc; 
    border: 2px solid deeppink;  
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg); 
}
