body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 96;
    background-color: #ffd1dc;
    width: 730px;
    margin: 0 auto;
    border: 3px solid #000080;
    padding: 0 2em 1em;
}
h1 { 
    font-size: 150%;
    color: blue;
    margin-bottom: .5em;
}
h2 {
    font-size: 120%;
    margin-bottom: .25em;
}
label {
    float: left;
    width: 9em;
}
input, select, textarea {
    width: 20em;
    margin-left: 1em;
    margin-bottom: 1em;
}
input[type="checkbox"], [type="radio"] {
    width: 1em;
}
#registration_info span {
    color: red;
}
td {
	width: 9em;	
}