body {
    text-align: center;
    margin-top: 200px; 
    background: wheat;
}

#timer {
    font-family: "Lato";
    font-size: 100px;
    font-weight: 300; 
}

button {
    width: 100px; 
    height: 35px;
}

button:hover {
    cursor: pointer; 
}

