body{
    background: #eee;
}
#content{
    width: 400px;
    background: #fff;
    padding: 20px;
    padding-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px; 
    color: #444;
    margin: 0 auto;

    max-height: 270px;
    overflow: hidden;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#content.open{
    max-height: 1000px; 
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#show-more{
    background: #1594e5;
    color: #fff; 
    font-family: calibri;
    display: block;
    width: 140px;
    font-size: 24px; 
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 20px auto; 
    cursor: pointer; 
}

