/*row 1*/
 .container {
	 border: 1px solid black; 
	 margin-left: ; 
	 margin-right: ;
 }
 
 header {
   background-color: #F8F8F8;
 }

 header ul {
   margin: 0;
   display: inline;
   list-style-type: none; 
   text-decoration: none; 
 }

 header a, header li {
   padding-left: 10px;
   padding-right: 10px; 
   color: #777;
   font-weight: bold;
   display: inline; 
   list-style-type: none; 
   text-decoration: none;
 }

 a: {
	 cursor: pointer;
     text-decoration: none;
 }
	
 .row {  
      padding-top: 20px;
      padding-bottom: 20px;	  
 }	
 .pull-left { 
     display: inline; 
     list-style-type: none;
     text-decoration: none;	 
 }	 
	 
 .pull-right {
	 display: inline;  
	 list-style-type: none; 
     margin-left: 36em;  
 }	
/*row 2*/

 .button1 {
	 background-color: #1E90FF; 
	 border-radius: 6px;
	 color: white;
	 border: 1px solid button;
	 cursor: pointer;
	 text-decoration: none;
	 display: inline-block;
	 height: 38px;
	 width: 100px;
	 margin-left: 0px; 
	 font-size: 23px;
	 font-weight: bold; 
	 padding-top: 15px;
	 font-family; Arial, Helvetica, sans-serif;
 }	 	 
 
 li {
   list-style-type: none;
 }

 section#intro-header {   
   background-image: url(landscape.jpg);
   background-size: cover;
 }

 .wrap-headline {  
   position: relative;
   padding-top: 20%;
   padding-bottom: 28%;
   text-align: center;   
 }

 section#intro-header h1,
 section#intro-header h2 {
   color: #FFF;
   display: block;
   font-size: 2.5em;
   font-family: Arial, Helvetica, sans-serif;  
 }
 
 table {
	 margin-left: 535px;
 }
 
 section#intro-header h2 {
   font-size: 1.47em;
   margin-top: 4px;
 }
 
 tr,th {
   border-bottom: 1px solid white;
   border-left: none;
   border-right: none; 
 }
 
 section#intro-header hr {
   width: 10%;
 }
 h1 {
	 margin-bottom: 25px;
 }
 
 
 .btn-default {
   background-color: rgba(255, 255, 255, 0.5);
   margin-right: 10px; 
   border-radius: 6px;
   cursor: pointer;
   text-decoration: none;
   display: inline-block;
   height: 38px;
   width: 100px;
   font-size: 23px;
   font-weight: bold; 
   padding-top: 15px;
   margin-left: -35px; 
   color: black; 
   font-family; Arial, Helvetica, sans-serif;
 }

 /*row3 and row4*/
 section#about img {
   margin-top: 6.5em;
   margin-bottom: 5em;
 }

 section#about h3 {
   margin-top: 1em;
 }

 .columnleft {
    display: block;
    float: left;
 }
 
 .colsm1 {
	 font-size: 1.8em;
	 padding-left: 13px;
     padding-right: 13px;
     padding-top: 20px; 
	 padding-bottom: 190px; 
     margin-left: 636px; 	 
 }
 
  .columnright {
    display: block;
    float: right;
	
 }
 
 .colsm2 {
     font-size: 1.8em;
	 padding-left: 13px;
     padding-right: 13px;
     padding-top: 40px; 
	 padding-bottom: 100px; 
     margin-right: 968px; 
 }
 /*row 5 and row 6*/
 section#features {
   background-color: #eef2f5;
   border-top: 0.1em solid #e9e9e9;
   border-bottom: 0.1em solid #e9e9e9;
 }

 section#features * {
   color: #657C8E;
 }

 section#features .feature {
   padding-top: 2em;
   padding-bottom: 4em;
   text-align: center;
 }

 /*row 7 and row 8*/
 section#pricing .center-block {
   width: 90%
 }

 section#pricing h3.price-headline {
   margin-top: 5em;
   margin-bottom: 3em;
 }

 section#pricing .white-text {
   color: #FFF;
 }

 section#pricing thead .success {
   background-color: #78CFBF;
 }

 section#pricing thead .info {
   background-color: #3EC6E0;
 }

 section#pricing thead .danger {
   background-color: #E3536C;
 }

 section#pricing tbody .success {
   background-color: #82DACA;
 }

 section#pricing tbody .info {
   background-color: #53CFE9;
 }

 section#pricing tbody .danger {
   background-color: #EB6379;
 }

/* section 9 - newsletter */
section#newsletter {
  border-top: 1px solid #E0E0E0;
  padding-top: 3.2em;
  margin-top: 2em;
}

section#newsletter h4 {
  padding: 1em;
}

section#newsletter form {
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 5.5em;
}

/* footer */
footer {
  background-color: #191919;
  color: #ADADAD;
  margin-top: 3em;
}

footer h5,
footer img {
  margin-top: 5em;
  font-weight: bold;
}

footer address {
  margin-top: 5em;
  margin-bottom: 5em;
  color: #5A5A5A;
}

footer ul {
  margin-bottom: 5em;
}

footer address strong {
  color: #ADADAD;
  display: block;
  padding-bottom: 0.62em;
}

footer a {
  font-weight: 300;
  color: #5A5A5A;
}

footer a:hover {
  text-decoration: none;
  color: #FFF;
}

/*contact page*/
section#contact form {
  padding-top: 9em;
  padding-bottom: 3em;
}

.hidden-element {
  display: none;
}

/* section team */
section#team ul {
  margin: 5em 0;
}

section#team li {
  margin: 0 5em;
}

section#team h5 {
  font-size: 1.5em;
  font-weight: bold;
}