<h3 class="bg-primary text-white p-3">{{ getName() }}'s Adam's To Do List</h3>
<div class="my-1">
    <input class="form-control" #toDoText />
    <button class="btn btn-primary mt-1" (click)="addItem(toDoText.value)">
        Add
    </button>
</div>
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Description</th>
        <th>Done</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of getToDoItems(); let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.action }}</td>
          <td><input type="checkbox" [(ngModel)]="item.done"></td>
            <td [ngSwitch]="item.done">
                <span *ngSwitchCase="true">Yes</span>
                <span *ngSwitchDefault>No</span>
            </td>
      </tr>
      <tr></tr>
      
    </tbody>
  </table>