* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

body {
    height: 100vh;
    display: flex; 
    background: #060AB2; 
}

.memory-game {
    width: 640px;
    height: 640px;
    display: flex; 
    margin: auto; 
    flex-wrap: wrap; 
    perspective: 1000px; 
}

.memory-card {
    width: calc(25% - 10px); 
    height: calc(33.333% - 10px); 
    margin: 5px; 
    position: relative; 
    transform: scale(1); 
    border: 2px dotted aqua;
    transform-style: preserve-3d;
    transition: transform .5s; 
}

.memory-card:active {    /*This is a pseudo class of memory card, basically once an event happens to it, such as
                           an onclick event, it gains these attributes set forth. */
    transform: scale(.97);
    transition: transform .2s; 
}

.memory-card.flip {
    transform: rotateY(180deg); 
}

/*.front-face {
    width: 100%;
    height: 100%;
    padding: 20px; 
    position: absolute;
    border: 2px solid deeppink; 
}
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px; 
    position: absolute;
    border: 2px solid deeppink; 
}

img {
    height: 70%;
    width: 70%;
}*/

.front-face, /*Remember to concatenate classes in CSS, you must use a comma.*/
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px; 
    position: absolute;
    border-radius: 5px;
    background: #1c7ccc; 
    border: 2px solid deeppink;  
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg); 
}