/** {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: azure; 
}

.memory-game {
    width: 640px; 
    height: 640px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;  
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33% - 10px); 
    position: static;  
    transform: scale(1);
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    transform-style: preserve-3d;
    transition: transform .5s; 
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
} 

.memory-card:flip {
    transform: rotateY(180deg);
}

.front-face {
    border: 2px solid deeppink;
    position: absolute;
    padding: 20px;
    border-radius: 5px;
    background: #1c7ccc;
    
}

.back-face {
    border: 2px solid deeppink;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    background: #1c7ccc;
}

img {
    width: 100%;
    height: 100%;
}*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background: #060AB2;
  }
  
  .memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }
  
