@import url(http://fonts.googleapis.com/css?family=Wellfleet);

body {
	background-color: #EEE8AA;
	color: #fff;
	font-family: 'Wellfleet', times, serif;
	font-size: 150%;
	margin: 0px 0px 0px 0px;}

h1 {
	background-image: url('../images/bullseye-logo.png');
	background-repeat: no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 109px;
	width: 643px;
	margin: 40px auto;}

#teacher {
	float:right;
	margin:0px 30px 0px 0px;}
#teacher2 {
	float:right;
	margin:135px 30px 0px 0px;}

#page1, #page2 {
	background-color: #fecc6f;
	height: 596px;
	padding: 10px;
	min-width: 779px;}
#page2 {
	height: 730px;}

#page3 {
	background-color: #FF4500;
	height: 596px;
	padding: 10px;
	min-width: 779px;}
	
#answer {
	border: 12px double #fff;
	color: #523620;
	text-align: left;
	padding: 20px;
	margin: 70px auto 10px auto;
	width: 250px;
	text-align: center;}

#answer2 {
	border: 12px double #fff;
	color: #523620;
	text-align: left;
	padding: 20px;
	margin: 70px auto 10px auto;
	width: 250px;
	text-align: center;}

#answer3 {
	border: 12px double #fff;
	color: #523620;
	text-align: left;
	padding: 20px;
	margin: 70px auto 10px auto;
	width: 250px;
	text-align: center;}
	
#blackboard {
	background-color: #425a5a;
	border: 25px solid #523620;
	border-radius: 20px;
	padding: 40px 20px;
	margin: 0px auto;
	height: 370px;
	width: 600px;
	text-align: center;}